<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        excepturi id doloribus dolore consequuntur quaerat voluptatibus vel
        ducimus hic incidunt?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="/images/easy.webp" />
      <img class="feature__image" src="/images/easy.jpg" alt="easy image" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        excepturi id doloribus dolore consequuntur quaerat voluptatibus vel
        ducimus hic incidunt?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="/images/easy.webp" />
      <img class="feature__image" src="/images/easy.jpg" alt="easy image" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        excepturi id doloribus dolore consequuntur quaerat voluptatibus vel
        ducimus hic incidunt?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="/images/easy.webp" />
      <img class="feature__image" src="/images/easy.jpg" alt="easy image" />
    </picture>
  </article>
</section>
